body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    padding: 32px;
}

.number-line {
    width: 19.5rem;
    display: flex;
    justify-content: flex-end;
    background-color: steelblue;
}

.number-line h1 {
    padding-right: 16px;
}

.container {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    justify-content: center;
    width: 400px;
}

.number-buttons {
    display: flex;
    flex-wrap: wrap;
    width: 14.66rem;
    height:17rem;
}

.number-buttons button {
    background-color: teal;
}

.operator-buttons {
    display:flex;
    flex-direction: column;
    width: 4.69rem;
}

.operator-buttons button {
    background-color: orangered;
}

.button.subtract {
    font-size: 32px;
}

.button.submit {
    font-size: 24px;
}

.zero-container {
    display:flex;
    width: 14.6rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 3rem;
    font-weight: bold;
    font-size: 1em;
}

.button.zero {
    flex: 1 1 0;
}

.button.decimal {
    flex: 0.1 1 0;
}